
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.navbar-bottom{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.NavDropdown.Item{
    text-decoration: none;
    width: 50%;

}

/* Hide product list by default */
.product-list {
    display: none;
  }
  
  /* Show search popup */
.search-popup {
    position: absolute;
    top: calc(100% + 10px);
    left: 20%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    /* display: none; */
    width: 500px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow-y: auto;
  }
  
  /* Show search popup when search input is focused */
  /* .search-input:focus + .search-popup {
    display: block;
  } */



   /* .product-card {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .product-image {
    background-color: aquamarine;
  }
  
  .product-details {
   background-color: coral;
  } */

  .product-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color:#fff;
    border-radius: 5px;
  }
  
  .product-image {
    flex-basis: 40%;
    margin-right: 20px;
  }
  
  .product-details {
    flex-basis: 60%;
  }
  
  .product-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 5px 0;
  }
  
  .product-price {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  
  .product-image img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .product-card {
      flex-direction: column;
    }
    
    .product-image {
      margin-right: 0;
      margin-bottom: 20px;
      flex-basis: auto;
    }
    
    .product-details {
      flex-basis: auto;
    }
  }

  .searching-gif{
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .top-navbar-container{
    display: flex;
    flex-wrap: wrap;
  }

  .navbar-hamburger-menu-icon {
    flex-basis: 10%;
  }

  .navbar-searchbar {
    flex-basis: 40%;
  }

  .navbar-icons-set {
    flex-basis: 40%;
  }

  .navbar-BAC-button {
    flex-basis: 10%;
  }

  .products-header-image{

    background-image: url('/sysco-products-hero-banner.png');
    background-size: cover;
    height: 40vh;
    position: relative;
  }

  .header-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .product-header-p{
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
    color: #fff;
    margin: auto;
    font-size: 3rem;
    z-index: 1000;
  }

  .product-page-title{
    margin-block: 50px;
  }

  /* css for cart pop up */
  .cart-popup {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: white;
    transition: right 0.5s ease-out;
    z-index: 2000;
  }
  
  .cart-popup.open {
    right: 0;
  }
  
  .close-button {
    /* position: absolute; */
    display: block;
       
  }

  .close-button:hover {
    cursor: pointer;
  }

  .cart-close-btn{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  /* cart card css */
 